<div class="row">
  <div class="col-sm-12">
    <a href="javascript:void(0)" ui-sref="add" class="btn btn-primary pull-right float-right mb-3 mt-3">Add a product</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>
  <div class="col-md-4" ng-repeat="product in store.products | orderBy:'price'">
    <div class="card">
      <h4 class="card-header">
        {{product.name}}
        <strong class="float-right">{{product.price | currency}}</strong>
      </h4>
      <div class="card-body">
        
        <!-- Image Gallery  -->
        <div ng-show="product.images.length" ng-controller="GalleryController as gallery">
          <div class="product-image">
            <img ng-src="{{product.images[gallery.imgIndex]}}" class="img-fluid" />
          </div>
          <div class="row">
            <div class="col-md-4" ng-repeat="image in product.images">
              <img ng-src="{{image}}" ng-class="{'border border-primary': $index == gallery.imgIndex}" class="img-thumbnail" ng-click="gallery.showChange($index)">
            </div>
          </div>
        </div>

        <p class="card-text mt-4">
          {{product.description}}
        </p>

        <table class="table table-striped mt-3">
          <tbody>
            <tr>
              <td>Shine</td>
              <td>{{product.shine}}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>{{product.weight}}</td>
            </tr>
          </tbody>
        </table>
        <a href="javascript:void(0)" ui-sref="product({ productId: product.id })" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>