<div class="row" ng-cloak>
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
      <li class="breadcrumb-item active">Product</li>
    </ol>
  </div>
  <div class="col-md-12 mb-3">
    <div class="card">
      <h4 class="card-header">
        {{product.item.name}}
        <strong class="float-right">{{product.item.price | currency}}</strong>
      </h4>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <!-- Image Gallery  -->
            <div ng-show="product.item.images.length" ng-controller="GalleryController as gallery">
              <div class="product.item-image">
                <img ng-src="{{product.item.images[gallery.imgIndex]}}" class="img-fluid" />
              </div>
              <div class="row">
                <div class="col-md-4" ng-repeat="image in product.item.images">
                  <img ng-src="{{image}}" ng-class="{'border border-primary': $index == gallery.imgIndex}" class="img-thumbnail" ng-click="gallery.showChange($index)">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p class="card-text mt-4">
              {{product.item.description}}
            </p>
    
            <table class="table table-striped mt-3">
              <tbody>
                <tr>
                  <td>Shipping</td>
                  <td>{{product.item.shipping}}</td>
                </tr>
                <tr>
                  <td>Sold by</td>
                  <td>{{product.item.soldby}}</td>
                </tr>
                <tr>
                  <td>Weight</td>
                  <td>{{product.item.weight}}</td>
                </tr>
                <tr>
                  <td>Dimensions</td>
                  <td>{{product.item.dimensions}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <a ng-href="{{product.item.url}}" class="btn btn-primary mt-4" target="_blank">View on Amazon</a>
        <button type="button" class="btn btn-danger mt-4 float-right" data-toggle="modal" data-target="#deleteProduct">
          Delete Product
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="deleteProductLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductLabel">Remove a product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Do you want to delete <strong>{{product.item.name}}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" ng-click="product.deleteProduct(product.item.id)">Delete</button>
      </div>
    </div>
  </div>
</div>